//
// Variables
// --------------------------------------------------

$prj-ns: '.ks';

//== Colors
//
//## Define color
$theme-color-white:#F3F3F3;
$theme-color-lightblue:#97D8DF;
$theme-color-navy:#034B73;
$theme-color-gray:#B8B8B8;
$theme-color-blue:#6FB6E3;


//== Grid system
//
//## Define custom grid with neat & bourbon.
// @import "bourbon";
// $column: 76px;
// $gutter: 20px;
// $grid-columns: 12;
// $max-width: 1140px;
// $out-margin: 10px;
// @import "neat";

//== Media Query
//
//## Define custom media query
// $mediaXl: new-breakpoint(min-width 1000px);
// $mediaLg: new-breakpoint(max-width 999px);
// $mediaMd: new-breakpoint(max-width 768px);
// $mediaSm: new-breakpoint(max-width 479px);
// $mediaHover: new-breakpoint(min-width 769px);


$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (min-width: 481px)',
  'lg': 'screen and (min-width: 769px)',
  'xl': 'screen and (min-width: 1001px)',
  'xxl': 'screen and (min-width: 1050px)',
  'hover': 'screen and (min-width: 769px)'
) !default;


//== Fonts
//
//## Define Fonts
$fontSizeXxl: 28;
$fontSizeXl: 24;
$fontSizeLg: 20;
$fontSizeMd: 16;
$fontSizeSm: 12;
$fontSizeXs: 10;

$fontBase: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Helvetica, 'Helvetica neue', Arial, sans-serif;
